
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block head
      title Carter Hay

  body
    div(class="pure-g")
      div(class="sidebar pure-u-1 pure-u-md-1-4 pure-u-lg-2-8 pure-u-xl-1-8")
        include ../include/navbar.pug
      div(class="content pure-u-1 pure-u-md-3-4 pure-u-lg-6-8 pure-u-xl-7-8")
        block content

    link(
      rel='stylesheet',
      href='https://unpkg.com/purecss@1.0.0/build/pure-min.css',
      integrity='sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w',
      crossorigin='anonymous'
    )

    link(
      rel='stylesheet',
      href='https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css'
    )
    
    link(rel='stylesheet', href='css/custom.css')

    script(src='js/main.js')
      
