
div(class='container mt-2')
  nav(class='navbar navbar-toggleable-sm navbar-light rounded bg-faded')
    button(
      class='navbar-toggler',
      type='button',
      data-toggle='collapse',
      data-target='#mainNavbar',
      aria-controls='mainNavbar',
      aria-expanded='false',
      aria-label='Taggle navigation'
    )
      span(class='navbar-toggler-icon')

    div(class='collapse navbar-collapse', id='mainNavbar')
      a(class='navbar-brand', href='index.html') Carter Hay
      ul(class='navbar-nav navbar-toggler-right')
        li(class='nav-item')
          a(class='nav-link', href='about.html') About
        li(class='nav-item')
          a(class='nav-link', 
            href='https://github.com/clccmh') GitHub
        li(class='nav-item')
          a(class='nav-link', 
            href='https://www.linkedin.com/in/carter-hay') LinkedIn
        li(class='nav-item')
          a(class='nav-link',
            href='https://twitter.com/carterhay') Twitter

